asgiref==3.2.3
attrs==19.3.0
autobahn==20.1.2
Automat==0.8.0
cefpython3==66.0
certifi==2019.11.28
cffi==1.13.2
channels==2.4.0
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
Django==3.0.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pytz==2019.3
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
Twisted==22.1.0
txaio==18.8.1
zope.interface==4.7.1
